* {
  padding: 0;
  margin: 0;
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_calender {
  @include size(100%);
  padding: 0;
  margin: 0;
  @include flex_center;
}
.box {
  @include size(480px, 100%);
  background-color: #fff;
}
.box .head,
.box .body,
.box .dateinfo {
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}
.box .dateinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  text-align: center;
}
.box .head {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
.box .head .day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 12px;
}
.box .body {
  display: flex;
  flex-wrap: wrap;
}
.box .body .daybox {
  box-sizing: border-box;
  width: calc(100% / 7);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
}
.box .body .daybox.active .infos {
  border-radius: 50%;
  background-color: #222;
  color: #fff;
}
.box .body .daybox .infos {
  width: 45px;
  height: 45px;
  padding: 10px;
  cursor: pointer;
}
.box .body .daybox .infos .num {
  font-size: 20px;
}
.box .body .daybox .infos .lunar {
  font-size: 12px;
}
.box .body .daybox .eventdot {
  width: 6px;
  height: 6px;
  background-color: #f24;
  border-radius: 50%;
  margin-top: 5px;
  opacity: 0;
}
.box .body .daybox .eventdot.has_event {
  opacity: 1;
}
.arrow {
  cursor: pointer;
}
